# [ openai api key ]....................................................................................................
OPENAI_API_KEY=

# [ base path ] ........................................................................................................


# [ base host ] ........................................................................................................
HOST=0.0.0.0
VIRTUAL_HOST=foo.bar.com

# [ container ports ] ..................................................................................................
APP_PORT=88
AI_PORT=89
JENKINS_PORT=90
SONARQUBE_PORT=91
ALLURE_SERVER_PORT=92
NGINX_PORT=93
SONAR_DB_PORT=94
TESTS_PORT=95
VIRTUAL_HOST_PORT=96
UBUNTU_PORT=97

# [ private ip addresses ] .............................................................................................
AI_SERVER_PRIVATE_IP=192.168.1.100
APP_SERVER_PRIVATE_IP=192.168.1.101
JENKINS_PRIVATE_IP=192.168.1.102
SONARQUBE_PRIVATE_IP=192.168.1.103
SONAR_DB_PRIVATE_IP=192.168.1.104
ALLURE_SERVER_PRIVATE_IP=192.168.1.105
NGINX_PRIVATE_IP=192.168.1.106
TESTS_PRIVATE_IP=192.168.1.107
UBUNTU_PRIVATE_IP=192.168.1.108

# [ AWS CREDENTIALS ] ..................................................................................................
AWS_ELASTIC_IP = copy EIP here
